.hoveEffect:hover svg {
	transition: all 0.3s ease-in;
	transform: translateX(5px); /* Fixed typo here */
}
.trigger-animation {
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
